version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: innogem-ai
    ports:
      - "3003:3003"
    env_file:
      - .env.production
    restart: always